.banner {
    padding: 100px 0;
    background-color: red;
}

.banner2 {
    background-color: green;
    padding: 100px 0;
}

.banner3 {
    background-color: blue;
    padding: 100px 0;
}

.banner4 {
    background-color: yellow;
    padding: 100px 0;
}

.banner5 {
    background-color: olive;
    padding: 100px 0;
}