.footer {
    background-color: #374560;
    padding: 15px 0;
    .Footer_inner {
        text-align: center;
        p {
            color: #9d9cb9;
            font-size: 14px;
            font-weight: 400;
            margin: 0;
        }
    }
}