.Goalsworp {
    text-align: center;
    padding: 95px 0 0px;
    .media_header {
        .media_hed {
            font-size: 35px;
            font-weight: 700;
            margin-bottom: 3px;
            text-transform: capitalize;
            font-family: 'Montserrat', sans-serif;
            color: #333;
        }
        .img_star {
            margin-bottom: 9px;
        }
        .media_prag {
            max-width: 552px;
            width: 100%;
            margin: 0 auto;
            color: #212529;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.6;
            margin-bottom: 49px;
        }
    }
    .goalaeorp_main {
        padding-bottom: 50px;
        .nav_manu {
            overflow: hidden;
            clear: both;
            background: #000;
            margin-bottom: 28px;
            .mav_items {
                .nav_link {
                    padding: 15px 30px;
                    display: block;
                    border-right: 1px solid #ddd;
                    color: #fff;
                    font-weight: 400;
                    font-size: 14px;
                    text-transform: capitalize;
                    text-decoration: none;
                    font-family: 'Poppins', sans-serif;
                    border-radius: 0px;
                    transition: all 0.5s;
                    &.active,
                    &:hover {
                        background-color: #eb1b2b;
                    }
                }
            }
            
            
        }
    
        .tab_content {
            .tab_pane {
                .video_worp {
                    position: relative;
                    &::before {
                        content: "";
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #000000;
                        position: absolute;
                        opacity: 0.7;
                    }
                    .icon_viedo {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        display: flex;
                        transform: translate(-50px, -50px);
                        a{
                            display: inline-flex;
                            text-decoration: none;
                            i {
                                color: #fff;
                                border: 5px solid #fff;
                                width: 80px;
                                height: 80px;
                                line-height: 70px;
                                font-size: 36px;
                                border-radius: 50%;
                                transition: all 0.5s;
                                
                            }
                            &:hover {
                                i {
                                    transform: scale(1.2);
                                }
                            }
                        }
                        
                    }
                }
            }
            .tab_title {
                text-align: left;
                .title_hed {
                    font-size: 18px;
                    color: #333;
                    line-height: 1.2;
                    font-weight: 700;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 18px;
                    margin: 10px 0;
                }
                .title_pra {
                    font-size: 14px;
                    font-weight: 400;
                    margin: 0 10px 8px;
                    color: #333;
                    font-weight: 400;
                    line-height: 1.6;
    
                }
            }
            .mediamanu {
                text-align: left;
                .imgcol {
                    padding: 23px 0 0;
                    width: 90px;
                    height: 90px;
                    text-align: center;
                    font-size: 20px;
                    line-height: 70px;
                    color: #fff;
                    background-color: #eb1b2b;
                    span{
                        display: block;
                        line-height: 1;
                        line-height: 20px;
                        font-size: 20px;
                        text-transform: capitalize;
                    }
                }
            }
            .mediamanu {
                overflow-y: scroll;
                height: 300px;
                .media {
                    padding: 0 0 15px;
                    margin: 0 0 15px;
                    border-bottom: 1px solid #ddd;
                    .imgcol {
                        margin-right: 15px;
                    }
                    .media-body {
                        a {
                            text-decoration: none;
                            .modalhed {
                                color: #333;
                                text-transform: capitalize;
                                font-weight: 600;
                                transition: .5s;
                                font-size: 18px;
                                line-height: 1.2;
                                margin-bottom: 0;
    
                            }
                            &:hover {
                                .modalhed {
                                    color: #eb1b2b;
                                }
                            }
                        }
                        .tabmodl_pra {
                            margin-bottom: 2px;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 1.6;
                            color: #333;
                        }
                        .mdspan {
                            color: #333;
                            font-family: 'Poppins', sans-serif;
                            font-weight: 400;
                            font-style: normal;
                            font-size: 14px;
                            line-height: 0;
                            margin-right: 10px;
                            i {
                                padding-right: 5px;
                            }
                            
                           
                        }
                    }
                }
            }
        }
    }
    .goalaeorp_main {
        padding-bottom: 50px;
        .colops_itme {
            .col_aps {
                .card {
                    margin-bottom: 30px;
                    text-align: left;
                    .cars_main {
                        border-bottom: 1px solid rgba(0,0,0,.125);
                        border-radius: 5px;
                        padding: 0;
                        transition: all 0.5s;
                        .hed_fiv {
                            position: relative;
                            background: #fff;
                            text-transform: capitalize;
                            cursor: pointer;
                            border-radius: 0;
                            color: #333;
                            padding: 15px 12px 15px 50px;
                            font-size: 16px;
                            font-weight: 500;
                            font-family: 'Poppins', sans-serif;
                            transition: all 0.5s;
                            .cicon_position {
                                position: absolute;
                                top: 9px;
                                left: 16px;
                                display: flex;
                                font-size: 30px;
                            }
                            .btn-link {
                                color: #000;
                                font-size: 20px;
                                font-weight: 400;
                                font-family: 'Poppins', sans-serif;
                                text-decoration: none;
                            }
                            .minus {
                                display: none;
                            }
                            .plus {
                                display: block;
                            }
                            &[aria-expanded="true"] {
                                .minus {
                                    display: block;
                                }
                                .plus {
                                    display: none;
                                }
                            }
                            &[aria-expanded="true"] {
                                background: #eb1b2b;
                                padding-left: 50px;
                                cursor: pointer;
                                text-transform: capitalize;
                                font-family: 'Poppins', sans-serif;
                                border-radius: 0;
                                color: #fff;
                            
                            }
                        }
                        
                    }
                    
                    .clo_ps {
                        .card-body {
                            padding: 15px;
                            p {
                                font-size: 14px;
                                font-weight: 400; 
                                line-height: 1.6;
                                color: #333;
                                font-family: 'Poppins', sans-serif;
                                margin: 0 0 10px 0;
                            }
                            .clapsManu {
                                margin:0 0 0 15px;
                                .clops_list {
                                font-size: 14px;
                                font-weight: 400; 
                                line-height: 1.6;
                                color: #333;
                                font-family: 'Poppins', sans-serif;
                                    
                                }
                            }
                        }
                    }
                }
            }
          
        }

    }
}