/* Preloader */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900");
.ctn-preloader {
  align-items: center;
  cursor: none;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9000;
}

.ctn-preloader .animation-preloader {
  position: absolute;
  z-index: 1000;
}

.ctn-preloader .animation-preloader .spinner {
  animation: spinner 1s infinite linear;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-top-color: #000000;
  height: 9em;
  margin: 0 auto 3.5em auto;
  width: 9em;
}

.ctn-preloader .animation-preloader .txt-loading {
  font: bold 5em "Poppins", sans-serif;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading {
  color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
  animation: letters-loading 4s infinite;
  color: #000000;
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: -3px;
  transform: rotateY(-90deg);
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {
  animation-delay: 0.2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {
  animation-delay: 0.4s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {
  animation-delay: 0.6s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {
  animation-delay: 0.8s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before {
  animation-delay: 1s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before {
  animation-delay: 1.2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(8):before {
  animation-delay: 1.4s;
}

.ctn-preloader.dark .animation-preloader .spinner {
  border-color: rgba(255, 255, 255, 0.2);
  border-top-color: #fff;
}

.ctn-preloader.dark .animation-preloader .txt-loading .letters-loading {
  color: rgba(255, 255, 255, 0.2);
}

.ctn-preloader.dark .animation-preloader .txt-loading .letters-loading:before {
  color: #fff;
}

.ctn-preloader p {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: #3b3b3b;
}

.ctn-preloader .loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  z-index: 1;
  pointer-events: none;
}

.ctn-preloader .loader .row {
  height: 100%;
}

.ctn-preloader .loader .loader-section {
  padding: 0px;
}

.ctn-preloader .loader .loader-section .bg {
  background-color: #ffffff;
  height: 100%;
  left: 0;
  width: 100%;
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

.ctn-preloader .loader.dark_bg .loader-section .bg {
  background: #111339;
}

.ctn-preloader.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}

.ctn-preloader.loaded .loader-section .bg {
  width: 0;
  transition: 0.7s 0.3s allcubic-bezier(0.1, 0.1, 0.1, 1);
}
@keyframes spinner {
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes letters-loading {
  0%, 75%, 100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }
  25%, 50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
@media screen and (max-width: 767px) {
  .ctn-preloader .animation-preloader .spinner {
    height: 8em;
    width: 8em;
  }

  .ctn-preloader .animation-preloader .txt-loading {
    font: bold 3.5em "Poppins", sans-serif;
  }
}
@media screen and (max-width: 500px) {
  .ctn-preloader .animation-preloader .spinner {
    height: 7em;
    width: 7em;
  }

  .ctn-preloader .animation-preloader .txt-loading {
    font: bold 2em "Poppins", sans-serif;
  }
}
.p0 {
  padding: 0px;
}

.list_style {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

.row.m0 {
  margin: 0px;
}

body {
  padding: 0px;
  overflow-x: hidden;
  z-index: 0;
  font: 400 15px/26px "Poppins", sans-serif;
  color: #838999;
}

a,
.btn,
button {
  text-decoration: none;
  outline: none;
  transition: all 0.2s linear;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  text-decoration: none;
  outline: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  box-shadow: none;
}

.container {
  position: relative;
  z-index: 1;
}

@media (min-width: 1250px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 0px;
  z-index: 9;
  transition: all 0.4s ease-in-out;
}
.navbar .nav {
  padding: 15px 0;
}
.navbar .nav .nav-item {
  position: relative;
  margin-left: 40px;
}
.navbar .nav .nav-item:first-child {
  margin-left: 0;
}
.navbar .nav .nav-item .nav-link {
  font: 500 16px/20px "Poppins", sans-serif;
  color: #2c2c51;
  position: relative;
  padding: 0px;
}
.navbar .nav .nav-item .nav-link:before {
  content: "";
  width: 0;
  height: 1px;
  background: #5174f9;
  position: absolute;
  left: auto;
  right: 0;
  bottom: -4px;
  opacity: 0;
  transition: all 0.3s linear;
}
.navbar .nav .nav-item .nav-link:hover,
.navbar .nav .nav-item .nav-link .active {
  color: #5174f9;
}
.navbar .nav .nav-item .nav-link:hover:before,
.navbar .nav .nav-item .nav-link .active:before {
  opacity: 1;
  width: 100%;
  left: 0;
  right: auto;
  transition: all 0.2s linear;
}
.navbar .logo_h {
  padding: 0px;
  line-height: 20px;
  display: inline-block;
  position: absolute;
  left: 60px;
}
.navbar .logo_h img {
  max-width: 156px;
  display: inline-block;
}

@media (max-width: 991px) {
  .navbar .logo_h {
    position: static;
  }
}
@media (max-width: 767px) {
  .navbar {
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1000;
  }
}
@media (max-width: 767px) {
  .navbar .navbar-collapse {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
}
@media (max-width: 991px) {
  .navbar .nav {
    background: white;
    margin-top: 10px !important;
    padding: 10px 20px;
    transition: all 0.3s linear;
  }
}
@media (max-width: 991px) {
  .navbar .nav .nav-item {
    margin-left: 0px;
    padding: 10px 0px;
  }
}
.navbar .fb_like .fb_like_link {
  font: 500 16px/20px "Poppins", sans-serif;
  color: #333;
  position: relative;
  padding: 0px;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
}
.navbar .fb_like .fb_like_link:before {
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  right: 0;
  background: #5174f9;
  bottom: -4px;
  transition: all 0.5s;
}
.navbar .fb_like .fb_like_link:before:hover {
  color: #5174f9;
}
.navbar .fb_like .fb_like_link:before:hover:before {
  width: 100%;
  right: 0;
  left: 0;
}

.support_faq_para {
  margin-bottom: 50px;
}
.support_faq_para p {
  font-size: 18px;
  color: #333;
  text-align: center;
}

.navbar .nav.navbar-nav.navbar-right {
  position: absolute;
  right: 60px;
}
.navbar .nav.navbar-right .nav-item:before {
  display: none;
}
.navbar .nav .nav-item .purchase_btn {
  border: 2px solid #5174f9;
  border-radius: 5px;
  display: inline-block;
  padding: 15px 40px;
  background: #5174f9;
  color: #fff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  box-shadow: 0px 10px 40px 0px rgba(61, 101, 254, 0.3);
}
.navbar .nav .nav-item .purchase_btn:before {
  display: none;
}
.navbar .nav .nav-item .purchase_btn:hover {
  color: #fff;
  box-shadow: none;
}

@media (max-width: 767px) {
  .navbar .nav.navbar-right {
    display: none;
  }
}
.purchase_btn {
  border: 1px solid #5174f9;
  border-radius: 5px;
  display: inline-block;
  padding: 15px 40px;
  background: #5174f9;
  color: #fff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

@media (max-width: 767px) {
  .purchase_btn {
    padding: 10px 15px;
    font-size: 15px;
    margin-right: 0px;
  }
}
.purchase_btn:before {
  display: none;
}
.purchase_btn:hover {
  background: #fff0;
  color: #5174f9;
}

@media (max-width: 767px) {
  .navbar-toggler {
    display: none;
  }
}
.navbar-toggler.collapsed .icon-bar {
  transition: all 0.5s linear;
}

.navbar-toggler {
  margin-top: 0px;
  margin-right: 0px;
  border: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.navbar-toggler.collapsed .icon-bar:nth-child(1) {
  transform: rotate(0deg);
  top: 0;
}
.navbar-toggler.collapsed .icon-bar:nth-child(2) {
  transform: rotate(0deg);
}
.navbar-toggler.collapsed .icon-bar:nth-child(3) {
  opacity: 1;
}
.navbar-toggler .icon-bar {
  background-color: #5174f9;
  transition: all 0.5s linear;
  display: block;
  width: 22px;
  height: 2px;
}
.navbar-toggler .icon-bar:nth-child(1) {
  transform: rotate(45deg);
  top: 7px;
  position: relative;
}
.navbar-toggler .icon-bar:nth-child(2) {
  transform: rotate(-45deg);
}
.navbar-toggler .icon-bar:nth-child(3) {
  opacity: 0;
}
.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 5px;
}
.navbar-toggler:hover, .navbar-toggler:focus {
  background: transparent;
}

.navbar_fixed {
  background: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar_fixed.navbar .nav .nav-item .purchase_btn {
  background: transparent;
  color: #5174f9;
  box-shadow: none;
}
.navbar_fixed.navbar .nav .nav-item .purchase_btn:hover {
  background: #5174f9;
  color: #fff;
}
.navbar_fixed .navbar-toggler .icon-bar {
  background: #464a55;
}

@media (max-width: 991px) {
  .navbar_fixed .nav {
    padding: 10px 20px;
    transition: all 0.3s linear;
  }
}
@media (max-width: 767px) {
  .navbar_fixed .nav {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.banner_area {
  background: #f4f5f9;
  background-attachment: fixed;
  position: relative;
  padding: 290px 0 388px;
  overflow: hidden;
}

@media (min-width: 1025px) {
  .banner_area {
    height: 100vh;
  }
}
.banner_area .banner_content {
  position: relative;
  z-index: 1;
}

.banner_area .banner_content .banner_title {
  color: #2c2c51;
  font-size: 50px;
  line-height: 64px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 18px;
}

.banner_area .banner_content .banner_title .typed-cursor {
  font-weight: 400;
}

.banner_area .banner_content .banner_para {
  color: #6a6a7e;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-bottom: 40px;
  max-width: 670px;
  width: 100%;
  margin: 0 auto 40px;
}

.banner_area .banner_content .banner_btn a {
  color: #5174f9;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid #5174f9;
  border-radius: 4px;
  padding: 10px 24px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.5s;
}

.banner_area .banner_content .banner_btn a:hover {
  background: #5174f9;
  color: #fff;
  box-shadow: 0px 10px 40px 0px rgba(61, 101, 254, 0.3);
}

@media (max-width: 767px) {
  .banner_area .banner_content .banner_para {
    max-width: 100%;
  }
}
.mockup_image .mok_img {
  position: absolute;
}

.mockup_image .mok_img_1 {
  left: -170px;
  bottom: -220px;
}

.mockup_image .mok_img_2 {
  right: 30px;
  bottom: -310px;
}

.mockup_image .mok_img_3 {
  right: -420px;
  bottom: -45px;
}

.mockup_image .mok_img_4 {
  right: 0px;
  bottom: 60px;
}

.mockup_image .mok_img_5 {
  left: 140px;
  bottom: -400px;
}

.mockup_image .mok_img_6 {
  left: 415px;
  bottom: -25px;
}

.mockup_image .mok_img_7 {
  left: 723px;
  bottom: -205px;
}

.mockup_image .mok_img .layer {
  position: relative !important;
}

.banner_area .round_shap {
  position: absolute;
  top: -100px;
  left: -100px;
}

.banner_area .shape_6 {
  border-radius: 50%;
  background-image: linear-gradient(180deg, #df6efb 0%, #ffc5a5 100%);
  position: absolute;
  right: 0;
  top: -250px;
  width: 350px;
  height: 350px;
  animation: circle_animation 7s ease-in-out infinite;
}
@keyframes circle_animation {
  0%, 100% {
    border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 54%/30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100%/100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}
.banner_area .shape_7 {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}

.banner_area .shape_8 {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}

.banner_area .mockup_2 {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}

@media (max-width: 1450px) {
  .banner_area .mockup_2 img {
    width: 90%;
  }
}
@media (max-width: 1450px) and (max-width: 1024px) {
  .banner_area .mockup_2 img {
    width: 55%;
  }
}
.banner_area .mockup_1 {
  position: absolute;
  bottom: 0;
  right: 20%;
  text-align: right;
  z-index: 1;
}

@media (max-width: 1450px) {
  .banner_area .mockup_1 img {
    width: 90%;
  }
}
.banner_area .square {
  position: absolute;
  bottom: 40%;
  left: 140px;
}

.banner_area .shape_1 {
  position: absolute;
  right: 445px;
  top: 285px;
}

.banner_area .shape_2 {
  position: absolute;
  right: 55px;
  top: 425px;
}

.banner_area .shape_3 {
  position: absolute;
  left: 305px;
  top: 350px;
}

.banner_area .triangle_1 {
  position: absolute;
  top: 250px;
  right: 40%;
  animation: zooM 3s linear infinite;
}

.banner_area .triangle_2 {
  position: absolute;
  bottom: 300px;
  right: 410px;
}

.banner_area .vector_icon {
  position: absolute;
  bottom: 133px;
  left: 53%;
}

mark {
  color: inherit;
  padding: 0;
  background: 0 0;
  background-image: linear-gradient(120deg, #f7dbfc 0%, #f7dbfc 100%);
  background-repeat: no-repeat;
  background-size: 0 0.3em;
  background-position: 0 80%;
  position: relative;
  animation-delay: 1s;
}

mark:not([data-aos=highlight-text]) {
  background-size: 100% 24px;
}

.section_title {
  margin-bottom: 90px;
}

.section_title h2 {
  font: 600 45px/55px "Poppins", sans-serif;
  color: #2c2c51;
  margin-bottom: 20px;
}

.section_title h3 {
  font: 600 38px/50px "Poppins", sans-serif;
  color: #2c2c51;
}

.section_title h4 {
  color: #5174f9;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 7px;
  letter-spacing: 5px;
  font-weight: 600;
}

.section_title p {
  font: 400 16px/28px "Poppins", sans-serif;
  color: #6a6a7e;
  margin-bottom: 40px;
}

.section_title .number {
  font-size: 70px;
  line-height: 60px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  background-image: -ms-linear-gradient(70deg, #3a2bdc 18%, #8545eb 51%, #cf5ff9 68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}

.section_title .number sup {
  font-weight: 500;
  background-image: -ms-linear-gradient(70deg, #3a2bdc 18%, #8545eb 51%, #cf5ff9 68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  top: -0.4em;
}

@media (max-width: 991px) {
  .section_title p br {
    display: none;
  }
}
.section_title .btn_portfolio {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  background: #5174f9;
  padding: 14px 23px;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid #5174f9;
  transition: all 0.3s;
}

.section_title .btn_portfolio:hover {
  box-shadow: 0px 20px 40px 0px rgba(61, 101, 254, 0.3);
}