ol.flex-control-nav.flex-control-thumbs {
    position: absolute;
    left: 0;
    top: 48px;
}
.flex-control-thumbs li {
    width: auto;
    float: left;
    margin: 0;
}
.flex-control-thumbs {
    margin: 0;
    position: static;
    overflow: hidden;
}
.flex-control-thumbs img {
    width: 100%;
    height: auto;
    display: block;
    opacity: .7;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    max-width: 80px;
}