.services_worp {
    background-color: #1c1c1c;
    .services {
        padding: 45px 30px;
        .service_hedr {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 32px;
            line-height: 40px;
            margin: 0 0 25px;
            padding: 0;
            letter-spacing: 0;
            color: #ffffff;

        }
        .services_h4 {
            font-weight: 300;
            color: #b7b7b7;
            font-size: 19px;
            line-height: 26px;
            margin: 0 0 25px;
            letter-spacing: -0.8px;
            font-family: 'Montserrat', sans-serif;

        }
        .services_pra {
            margin: 0 0 30px 0;
            font-size: 13px;
            color: #6f6f6f;
            font-weight: 400;
            line-height: 24px;
            font-family: 'Montserrat', sans-serif;

        }
        .sarvices_btn {
            margin-bottom: 15px;
            .btn_darvice {
                padding: 10px 29px;
                border-radius: 50px;
                font-size: 12px;
                text-decoration: none;
                outline: none;
                box-shadow: none;
                background-color: transparent;
                border: 2px solid #fff;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                color: #fff;
                text-transform: uppercase;
                transition: all 0.5s;
                &:hover {
                    background: #ffffff;
                    color: #232323;
                }
            }
        }
        
        .countin_main {
            margin: 50px 34px 0 0;
            
            .counting_parsen {
                margin: 25px 0;
                .progress {
                    display: flex;
                    height: 5px;
                    overflow: hidden;
                    font-size: 14px;
                    background: rgba(255,255,255,.2);
                    border-radius: 0;
                    .progress_ber {
                        background: #ff214f;
                        background: -moz-linear-gradient(left, #ff214f 0%, #ffffff 100%);
                        background: -webkit-linear-gradient(left, #ff214f 0%,#ffffff 100%);
                        /* background: linear-gradient(to right, #ff214f 0%,#ffffff 100%); */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff214f', endColorstr='#ffffff',GradientType=1 );
                    }
                }
                .progress_decler {
                    margin: 5px 0;
                    .progress_pra {
                        font-size: 10px;
                        color: #626262;
                        text-transform: uppercase;
                    }
                    .parsent {
                        color: #626262;
                        font-size: 12px;
                        float: right;
                    }
                }
                
            }
        }
        
    }
    .back_img {
        background-image: url(../imgs/about-img1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        min-height: 580px;
    }
}