.tab_cllsps {
    padding: 130px 0;
    .tab_main {
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        text-align: center;
        justify-content: center;
        display: flex;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        margin-top: 0;
        .nav-item {
            border: 1px solid #e5e5e5;
            border-bottom: none;
            border-radius: 0;
            margin-bottom: 0;
            display: inline-block;
            float: none;
            margin-right: 5px;
            .nav-link{
                border: 1px solid transparent;
                border-bottom: none;
                border-radius: 0;
                margin-bottom: 0;
                display: inline-block;
                float: none;
                margin-right: 5px;
                &.active {
                    border-color: transparent;
                    border-radius: 0;
                    background: #fff;
                    top: 1px;
                    position: relative;
                    border-bottom: 0;
                    color: #575757;
                }

            }
            a {
                background-color: #fff;
                border: 0;
                color: #575757;
                line-height: 44px;
                margin: 0 !important;
                padding: 0 25px;
                border-radius: 0;
                text-decoration: none;
            }
            &.active {
                border-color: transparent;
                border: none;
                border-radius: 0;
                background: #fff;
                top: 1px;
                position: relative;
            }
        }
    }
    .tab_content {
        margin-top: 54px;
        .tab_items {
            .ctm_row {
                text-align: left;
                justify-content: center;
                align-items: center;
                .tab_head {
                    margin-bottom: 20px;
                    font-weight: 700;
                    color: #232323;
                    font-family: 'Montserrat', sans-serif;
                    text-transform: uppercase;
                    font-size: 25px;
                    line-height: 30px;

                }
                .tab_pra {
                    font-size: 20px;
                    line-height: 26px;
                    margin-bottom: 20px;
                    font-weight: 400;
                    color: #232323;
                    display: block;

                }
                .tab_pra2 {
                    margin: 0 0 25px;
                    font-size: 15px;
                    color: #6f6f6f;
                    font-weight: 400;
                    line-height: 24px;

                }
                .service_btn {
                    padding: 5px 29px;
                    border-radius: 50px;
                    border-color: #232323;
                    background-color:#232323;
                    color: #fff;
                    font-size: 11px;
                    display: inline-block;
                    border: 2px solid transparent;
                    letter-spacing: .5px;
                    line-height: inherit;
                    text-transform: uppercase;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    transition-duration: 0.3s;
                    transition-timing-function: ease-in-out;
                    &:hover {
                        color: #212529;
                        border-color: #232323;
                        text-decoration: none;
                        background: transparent;
                    }

                }
            }
            
        }
        
    }
}