.damo_Aria {
    padding: 90px 0;
    position: relative;
    display: block;
    overflow: hidden;
    .damo_title {
        text-align: center;
        .numbers {
            font-size: 70px;
            line-height: 60px;
            font-weight: 700;
            font-family: "Poppins", sans-serif;
            background-image: -webkit-linear-gradient(70deg, #3a2bdc 18%, #8545eb 51%, #cf5ff9 68%);
            margin-bottom: 30px;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            sup {
                font-weight: 500;
                background-image: -moz-linear-gradient(70deg, #3a2bdc 18%, #8545eb 51%, #cf5ff9 68%);
                background-image: -webkit-linear-gradient(70deg, #3a2bdc 18%, #8545eb 51%, #cf5ff9 68%);
                background-image: -ms-linear-gradient(70deg, #3a2bdc 18%, #8545eb 51%, #cf5ff9 68%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                top: -.4em;
                font-size: 75%;
                line-height: 0;
                vertical-align: baseline;
                font-size: 70px;
                line-height: 60px;
                font-weight: 700;
            }
        }
        .damo_hed {
            font: 600 45px/55px "Poppins", sans-serif;
            color: #2c2c51;
            margin-bottom: 20px;
        }
    }
    .portfolio-item {
        margin-top: 45px;
        .portfolio-image {
            opacity: 1;
            text-align: center;
            transition: all 0.8s;
            a {
                display: block;
                position: relative;
                span {
                    font-size: 16px;
                    border-radius: 4px;
                    background-color: #f91f43;
                    -webkit-box-shadow: 0px 10px 20px 0px rgba(235, 54, 84, 0.3);
                    box-shadow: 0px 10px 20px 0px rgba(235, 54, 84, 0.3);
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    padding: 0px 13px;
                    color: #fff;
                    font-weight: 500;
                    transition: all 0.3s;
                    z-index: 1;
                }
                .damoImg {
                    box-shadow: 0px 30px 60px 0px rgba(18, 1, 64, 0.08);
                    max-width: 100%;
                    width: 100%;
                    background: #fff;
                    box-shadow: 1.294px 4.83px 20px 0px rgba(0, 22, 46, 0.05);
                    transition: all 0.3s;
                    padding: 0;
                    position: relative;
                    top: 0;
                    border-radius: 5px;
                    vertical-align: middle;
                    border-style: none;
                }
            }
            .popup {
                font: 500 18px/32px "Poppins", sans-serif;
                color: #343845;
                margin-top: 25px;
                position: relative;
                display: inline-block;
                text-decoration: none;
                outline: none;
                &::before {
                    position: absolute;
                    content: "";
                    bottom: -4px;
                    right: 50%;
                    width: 0;
                    height: 1px;
                    background: #5174f9;
                    opacity: 0;
                    transition: all 0.5s;
                }
                &:hover {
                    color: #5174f9;
                    &::before {
                        width: 100%;
                        right: 0;
                        opacity: 1;
                    }
                }
            }
            &:hover {
                .damoImg {
                    transform: translateY(-10px);
                }
                span {
                    transform: translateY(-10px);
                }
            }
        }
    }
    .shape_damo {
        position: absolute;
        top: -230px;
        left: -90px;
    }
    .shape_damo2 {
        position: absolute;
        top: 0;
        left: -336px;
        transform: rotate(145deg);
    }
}