header.header {
    position: fixed;
    background: transparent;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.5s;
    z-index: 1000;
    .navbar {
        padding: 25px 46px;
        transition: all 0.4s ease-in-out;
        .logoBrand {
            padding: 0px;
            line-height: 20px;
            display: inline-block;
            left: 45px;
            color: rgba(0, 0, 0, .9);
            img {
                max-width: 156px;
                display: inline-block;
            }
        }
        button {
            border: 0;
            box-shadow: none;
            outline: none;
            padding: 0;
            margin: 0;
            width: 25px;
            position: relative;
            height: 15px;
            .bar {
                width: 100%;
                height: 2px;
                background-color: #eb1b2b;
                position: absolute;
                right: 0;
                display: block;
                transition: all 0.5s;
                &:nth-child(1) {
                    top: 0;
                }
                &:nth-child(2) {
                    top: 50%;
                }
                &:nth-child(3) {
                    top: 100%;
                }
            }
            &[aria-expanded="true"] {
                .bar {
                    &:nth-child(1) {
                        top: 50%;
                        transform: rotate(45deg);
                    }
                    &:nth-child(2) {
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        top: 50%;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
        .maincollaps {
            .main_manu {
                li {
                    a {
                        font: 500 16px/20px "Poppins", sans-serif;
                        position: relative;
                        display: inline-block;
                        padding: 0px;
                        margin: 0 20px;
                        transition: .5s;
                        color: #2c2c51;
                        text-transform: capitalize;
                        &::before {
                            position: absolute;
                            content: "";
                            bottom: -4px;
                            right: 50%;
                            width: 0;
                            height: 1px;
                            background: #5174f9;
                            opacity: 0;
                            transition: all 0.5s;
                        }
                        &.active,
                        &:hover {
                            color: #5174f9;
                            &::before {
                                width: 100%;
                                right: 0;
                                opacity: 1;
                            }
                        }
                    }
                    &:hover {
                        background: transparent;
                        a {
                            color: #5174f9;
                        }
                    }
                }
            }
            .donate_button {
                .donatebtn {
                    text-decoration: none;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    text-transform: capitalize;
                    font-weight: 500;
                    line-height: 20px;
                    margin-left: 30px;
                    transition: all 0.5s;
                    box-shadow: none;
                    text-decoration: none;
                    border: 2px solid #5174f9;
                    border-radius: 5px;
                    display: inline-block;
                    padding: 15px 40px;
                    background: #5174f9;
                    color: #fff;
                    font-size: 16px;
                    font-family: "Poppins", sans-serif;
                    box-shadow: 0px 10px 40px 0px rgba(61, 101, 254, 0.3);
                    &:hover {
                        box-shadow: none;
                    }
                }
            }
        }
    }
    &.fixedMenu {
        background-color: #ffffff;
        box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
        .navbar {
            padding: 15px 46px;
            transition: all 0.4s ease-in-out;
            button {
                .bar {
                    background-color: #fff;
                }
            }
            .maincollaps {
                .main_manu {
                    li {
                        a {
                            color: #2c2c51;
                            &::before {
                                position: absolute;
                                content: "";
                                bottom: -4px;
                                right: 50%;
                                width: 0;
                                height: 1px;
                                background: #5174f9;
                                opacity: 0;
                                transition: all 0.5s;
                            }
                            &.active,
                            &:hover {
                                color: #5174f9;
                                &::before {
                                    width: 100%;
                                    right: 0;
                                    opacity: 1;
                                }
                            }
                        }
                        &:hover {
                            a {
                                color: #5174f9;
                            }
                        }
                    }
                }
                .donate_button {
                    .donatebtn {
                        border-color: #5174f9;
                        background-color: transparent;
                        color: #5174f9;
                        box-shadow: none;
                        &:hover {
                            background: #5174f9;
                            border-color: #5174f9;
                            box-shadow: 0px 10px 40px 0px rgba(61, 101, 254, 0.3);
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
}