.sets_canvas {
    position: fixed;
    top: 221px;
    right: 26px;
    background: #fff;
    z-index: 5;
    margin-bottom: 30px;
    .canvas_bttn {
        box-shadow: 0 13px 42px 11px rgba(0, 0, 0, .05);
        width: 50px;
        height: 50px;
        background: #fff;
        border: 1px solid #ddd;
        outline: none;
        border-radius: 3px;
        text-align: center;
        position: absolute;
        top: -90px;
        right: -1px;
        i {
            font-size: 20px;
        }
    }
    .color_satting {
        width: 300px;
        // height: 70%;
        height: 460px;
        padding: 35px 25px;
        overflow-y: scroll;
        a {
            cursor: pointer;
            margin: 0 5px 5px 0;
            text-decoration: none;
            &:hover {
                color: #fff;
                background-color: #5a6268;
                border-color: #545b62;
            }
        }
        .widget {
            .line {
                opacity: 1;
                -webkit-transition: opacity .3s .4s ease;
                -o-transition: opacity .3s .4s ease;
                transition: opacity .3s .4s ease;
            }
        }
    }
}