.subscrip_worp {
    background-image: url(../imgs/banner/1.jpg);
    text-align: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 120px 0;
    .banner_main {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        max-width: 617px;
        width: 100%;
        margin: 0 auto;
        .bannerInner {
            text-align: center;
            .banne_hed {
                letter-spacing: -2px;
                font-size: 64px;
                font-weight: 700;
                line-height: 1;
                color: #f7f7f7;
                margin-bottom: 20px;
            }
            .banner_pra {
                font-size: 1.25rem;
                font-weight: 300;
                color: rgba(255, 255, 255, 0.5);
                margin-bottom: 50px;
                line-height: 1.8;
            }
        }
    }
}