.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 0px;
    z-index: 9;
    transition: all 0.4s ease-in-out;
    .nav {
        padding: 15px 0;
        .nav-item {
            position: relative;
            margin-left: 40px;
            &:first-child {
                margin-left: 0;
            }
            .nav-link {
                font: 500 16px/20px "Poppins", sans-serif;
                color: #2c2c51;
                position: relative;
                padding: 0px;
                &:before {
                    content: "";
                    width: 0;
                    height: 1px;
                    background: #5174f9;
                    position: absolute;
                    left: auto;
                    right: 0;
                    bottom: -4px;
                    opacity: 0;
                    transition: all 0.3s linear;
                }
                &:hover,
                .active {
                    color: #5174f9;
                    &:before {
                        opacity: 1;
                        width: 100%;
                        left: 0;
                        right: auto;
                        transition: all 0.2s linear;
                    }
                }
            }
        }
    }
    .logo_h {
        padding: 0px;
        line-height: 20px;
        display: inline-block;
        position: absolute;
        left: 60px;
        img {
            max-width: 156px;
            display: inline-block;
        }
    }
}

.navbar {
    .fb_like {
        .fb_like_link {
            font: 500 16px/20px "Poppins", sans-serif;
            color: #333;
            position: relative;
            padding: 0px;
            text-transform: capitalize;
            position: relative;
            z-index: 1;
            &:before {
                position: absolute;
                content: "";
                width: 0%;
                height: 1px;
                right: 0;
                background: #5174f9;
                bottom: -4px;
                transition: all 0.5s;
                &:hover {
                    color: #5174f9;
                    &:before {
                        width: 100%;
                        right: 0;
                        left: 0;
                    }
                }
            }
        }
    }
}

.support_faq_para {
    margin-bottom: 50px;
    p {
        font-size: 18px;
        color: #333;
        text-align: center;
    }
}

.navbar {
    .nav {
        &.navbar-nav {
            &.navbar-right {
                position: absolute;
                right: 60px;
            }
        }
        &.navbar-right {
            .nav-item {
                &:before {
                    display: none;
                }
            }
        }
        .nav-item {
            .purchase_btn {
                border: 2px solid #5174f9;
                border-radius: 5px;
                display: inline-block;
                padding: 15px 40px;
                background: #5174f9;
                color: #fff;
                font-size: 16px;
                font-family: "Poppins", sans-serif;
                font-weight: 500;
                box-shadow: 0px 10px 40px 0px rgba(61, 101, 254, 0.3);
                &:before {
                    display: none;
                }
                &:hover {
                    color: #fff;
                    box-shadow: none;
                }
            }
        }
    }
}

.purchase_btn {
    border: 1px solid #5174f9;
    border-radius: 5px;
    display: inline-block;
    padding: 15px 40px;
    background: #5174f9;
    color: #fff;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.purchase_btn {
    &:before {
        display: none;
    }
    &:hover {
        background: #fff0;
        color: #5174f9;
    }
}

.navbar-toggler {
    &.collapsed {
        .icon-bar {
            transition: all 0.5s linear;
        }
    }
}

.navbar-toggler {
    margin-top: 0px;
    margin-right: 0px;
    border: 0px;
    padding-left: 0px;
    padding-right: 0px;
    &.collapsed {
        .icon-bar {
            &:nth-child(1) {
                transform: rotate(0deg);
                top: 0;
            }
            &:nth-child(2) {
                transform: rotate(0deg);
            }
            &:nth-child(3) {
                opacity: 1;
            }
        }
    }
    .icon-bar {
        background-color: #5174f9;
        transition: all 0.5s linear;
        display: block;
        width: 22px;
        height: 2px;
        &:nth-child(1) {
            transform: rotate(45deg);
            top: 7px;
            position: relative;
        }
        &:nth-child(2) {
            transform: rotate(-45deg);
        }
        &:nth-child(3) {
            opacity: 0;
        }
    }
    .icon-bar {
        &+.icon-bar {
            margin-top: 5px;
        }
    }
    &:hover,
    &:focus {
        background: transparent;
    }
}

.navbar_fixed {
    background: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
    padding-top: 15px;
    padding-bottom: 15px;
    &.navbar {
        .nav {
            .nav-item {
                .purchase_btn {
                    background: transparent;
                    color: #5174f9;
                    box-shadow: none;
                    &:hover {
                        background: #5174f9;
                        color: #fff;
                    }
                }
            }
        }
    }
    .navbar-toggler {
        .icon-bar {
            background: #464a55;
        }
    }
}


/*====end=====*/